@font-face {
	font-family: "Champion Gothic Featherweight";
	src: url(/assets/copyfonts.com_champion-htf-featherweight_1_.ttf) format("truetype");
}

@font-face {
	font-family: "ADLIB";
	src: url(/assets/ADLIB.ttf) format("truetype");
}

body {
	background-color: black;
}

body ul{
	text-align: center;
	display: inline-block;
	color: white;
	font-family: "Champion Gothic Featherweight";
}

body li{
	display: inline-block;
	text-align: center;
	text-decoration: none;
	padding-right: 45px;
}

body a{
	text-decoration: none;
	color: white;
	font-size: 22px;
}

footer{
	text-align: center;
	margin-top: 30px;
	bottom: 0;
}

#intro_footer {
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	margin: 0 auto;
/*	width: 203px;
*/	color: #a6a6a6;
	width: 150px;
/*	border: 1px solid white;
*/	text-align: center;

}
#intro_footer ul{
	text-align: center;

}
#intro_footer li{
	display: inline-block;
	padding: 0px;
}

#home {
	float: left;
	padding-right: 12px;
}

#about_link {
	float: right;
	padding-left: 12px;
}

#about{
	position: absolute;
	background-color: gray;
	top: 205px;
	bottom: 105px;
	left: 155px;
	right: 155px;
	border-radius: 55px;
}

#about p{
	text-align: center;
	color: black;
	font-family: "Oswald", sans-serif;
}

#about_top_line {
	margin-top: 55px;
}

#about a{
	font-size: 20px;
}


#about_back:hover{
	cursor: pointer;
		color:  #b30000;
;

}
#intro_footer a{
	font-size: 16px;
	font-family: "Champion Gothic Featherweight";
	color: #776666;
/*	margin-left: 42px;
*/}
.rap {
	font-family: "Champion Gothic Featherweight";
	font-size: 120px;	
	color: #f2f2f2;
	text-shadow: -2px -12px red;
	display: absolute;
	width: 600px;
/*	animation: backshadow 1s infinite;
*/}

@keyframes backshadow {
	0% {
		text-shadow: -2px -12px red;
	}
	50% {
		text-shadow: -2px -16px 7px red, 3px 4px 6px #941111;
	}
	100%{
		text-shadow: -2px -9px red;
	}
}


@keyframes textgrow {

	0% {
		font-size: 54px
	}

	50% {
		font-size: 43px;
	}

	100% {
		font-size: 55px;
	}	
}


@keyframes dropIn {
   0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}
.libs{
	font-family: 'ADLIB'; 
	font-size: 54px;
	display: absolute;
	text-shadow: none;
	text-shadow: 2px 2px 2px red;
	margin-left: -12px;
/*	animation: textgrow 1s infinite;
*/
}

.raplibs {
	top:100;
	bottom: 100;
	margin-left: auto;
	margin-right: auto;
	width: 128px;
	margin-top: 200px;
/*	border: 1px solid green;
*/	padding-right: 102px;
}

.raplibs:hover{
	cursor: pointer;
}
.input_section input[type=text] {
	background-color: black;
	border: white solid .5px;
	color: white;
	text-align: center;
/*	right: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;*/
	position: absolute;
	width:200px;
}

.input_section input {
	top: 0;
/*	bottom: 0;
*/
	position: absolute;
	font-family: 'Champion Gothic Featherweight';
	font-size: 28px;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;

}
#flow {
	position: absolute;
	width: 150px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	background-color: red;
	font-family: 'Champion Gothic Featherweight';
	font-size: 22px;
	border-color: black;
	border-radius: 4px;
	color: white;
	left: 0;
	right: 0;
/*	box-shadow: 0px 1px 1px 0 white;
*/	outline: none;

}

#flow:hover{
	color:red;
	background-color: white;
/*	box-shadow: 0px 1px 1px 0 red;
*/
}
.input_container {
	text-align: center;
	margin-top: 40px;
/*		border: 1px solid red;
*/
	/*margin-left: 30px;*/
}
.input_section {
/*	border: 1px solid blue;
*/	position: absolute;
	width: 400px;
	height: 50px;
	left: 0;
	right: 0;
	margin: 0 auto
 
}

body {
	color: white;
}
.text_line {
/*	position: absolute;
*/	width: 600px;
	margin-right: auto;
	margin-left: auto;
	text-decoration: none;
	text-shadow: none;
	color: white;
	font-family: 'Champion Gothic Featherweight';
	font-size: 28px;
	text-align: center;
/*	border: 1px solid green;
*/}

.fill_text {
	font-family: 'Champion Gothic Featherweight';
/*	border: 1px solid green;
*/	font-size: 40px;
	text-align: center;
	width: 600px;
	display: inline-block;
	margin-left: -2px;
	position: absolute;
	left:0;
	right: 0;
	margin: 0 auto;

}

.flowButton {
	width: 150px;
	margin-left: auto;
	margin-right: auto;
/*	border: solid white 1px;
*/	margin-top: 0px;
	z-index: -1
}

::-webkit-input-placeholder {
   color: red;
   font-family: 'Champion Gothic Featherweight';
   font-size: 28px;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;
   font-family: 'Champion Gothic Featherweight';
   font-size: 28px;

}

::-moz-placeholder {  /* Firefox 19+ */
   color: red; 
   font-family: 'Champion Gothic Featherweight';
    font-size: 28px;

}

:-ms-input-placeholder {  
   color: red; 
   font-family: 'Champion Gothic Featherweight';
   font-size: 28px;

}

#full_result p{
	text-align: center;
}

#final_position{
margin-top: 20px;
padding-right:0px;
width: 128px;
}

#rap_final {
font-size: 60px;
height: 127.219px;
}

#libs_final {
font-size: 27px;
margin-left: -5px;
}

.lose_yourself_result {
	margin-top: -55px;
}